<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Carrito</title>
</head>

<body>
    <%- include partials/header %> 
    <main>
        <div class="box-main">
            <section>
                <h1>Detalle de la reserva</h1>
                <h2>Restaurante</h2>
                <h3>Dirección</h3>
                <div class="land-view">
                    <h3>
                        <div>
                            <p>Día</p>
                            <p>Horario</p>
                            <p>Cantidad de personas</p>
                        </div>
                        <br>
                        <div class="product-container">
                        </div>
                    </h3>
                </div>
            </section>
            <div class="pay-button">
                <form action="">
                    <button class="button">Proceder al pago</button>
                </form>
            </div>
        </div>
    </main>
    <%- include partials/footer %>
    <script src="/js/cart.js"></script>     
</body>

</html>